.mat-card-subtitle
{
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3{
    font-family: 'roboto', Courier, monospace;
    font-weight: 800;
    margin-top: 2%;
}
.buysell{
  width:100%;
  font-weight:700;
  font-size:16px;
}
table {
    
    width: 2000px;
    margin-top: 2%;
    margin-bottom: 5%;
  }