.mat-card-subtitle
{
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
h3{
    font-family: 'Roboto', Courier, monospace;
    font-weight: 800;
    margin-top: 2%;
}
.buysell{
  width:100%;
  font-weight:700;
  font-size:16px;
  padding-right: 16px;
  margin-right: 20%;
}

th{
    padding-top: 24px;
}
table {
    
    width: 2000px;
    margin-top: 2%;
    margin-bottom: 5%;
  }