.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
flex: 1 1 auto;
}

.mat-card-title{
font-size: 16px;
}

.wrapper
{
  margin-top: 200px;
}
.mat-progress-bar
{
 
  max-width: 386px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.example-card {
max-width: 390px;
padding: 77px 55px 33px 55px;
margin: auto;
max-height: 600px;



}

.signup
{
  text-align: center;
  font-family: 'roboto';
  font-weight: 200;
  margin-top: 32px;
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.display1 {
font-size: 32px;
font-weight: 700;
line-height: 1.2;
color: #6772d0;
margin:16px;
text-transform: inherit;
letter-spacing: inherit;
text-align: center;
}
.field{
  width: 100%;
}


#leftLoginColumn {
    overflow: auto;
    background-image: url(https://uhdwallpapers.org/uploads/converted/18/10/14/city-lights-by-asus-rog-wallpaper-3840x2160_55744-mm-90.jpg);
    background-size: cover;
    min-height: 100vh;
}

#rightLoginColumn {
    background: linear-gradient(to bottom, #1e2455 0%, #a8349b 100%);
}