<div fxFlex fxLayout="row" style="background:inherit">

<!-- eventually add ngfor -->
    <mat-card fxFlex="33" class="example-card">
        <mat-card-content>
          <div fxLayout="row">
            <span  class="mat-card-title" fxFlex="90">.DJI  </span> <span  class="mat-card-title">25,063.89</span>
          </div>
          <div fxLayout="row">
            <span  class="mat-card-subtitle" fxFlex="90">Dow Jones</span><span class="mat-card-subtitle"  style="color:green;">+64.22(0.26%)</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="33" class="example-card">
        <mat-card-content>
                <div fxLayout="row">
                  <span  class="mat-card-title" fxFlex="90">.INX  </span> <span  class="mat-card-title">22,706.53</span>
                </div>
                <div fxLayout="row">
                  <span  class="mat-card-subtitle" fxFlex="90">S&P 500</span><span class="mat-card-subtitle"  style="color:green;">+2.43(0.90%)</span>
                </div>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex ="33" class="example-card">
            <mat-card-content>
                  <div fxLayout="row">
                    <span  class="mat-card-title" fxFlex="90">.IXIC </span> <span  class="mat-card-title">7,263.87</span>
                  </div>
                  <div fxLayout="row">
                    <span  class="mat-card-subtitle" fxFlex="90">Nasdaq</span><span class="mat-card-subtitle"  style="color:red;">−17.87(0.25%)</span>
                  </div>
                   
            </mat-card-content>
          </mat-card>
    </div>