<!-- <mat-sidenav-container >
    <mat-sidenav mode="side" opened>


        <h2 class="title">Keyos</h2>

        <div class="menu">
            <div style="text-align: center">
                <button mat-icon-button (click)="goToDashboard()">
                    <mat-icon class="icons"> show_chart</mat-icon>
                </button>
                <br>
                <span>DASHBOARD</span>
            </div>
        </div>

        <div class="menu">
            <div style="text-align: center">
                <button mat-icon-button>
                    <mat-icon class="icons"> person</mat-icon>
                </button>
                <br>
                <span> ACCOUNT </span>
            </div>
        </div>

        <div class="menu">
            <div style="text-align: center">
                <button mat-icon-button>
                    <mat-icon class="icons">notifications</mat-icon>
                </button>
                <br>
                <span>NOTIFCATIONS </span>
            </div>
        </div>

        <div class="menu">
            <div style="text-align: center">
                <button mat-icon-button (click)="logout()">
                    <mat-icon class="icons">power_settings_new</mat-icon>
                </button>
                <br>
                <span>LOGOUT</span>
            </div>

        </div>
        
    </mat-sidenav>
    <mat-sidenav-content
    style="padding-left: 5%;
    padding-right: 5%;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->








<mat-toolbar class="example-toolbar" color="primary" class="mat-elevation-z8" >
    <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
   <span style="margin-left:1%;">Keyos</span>
          <!-- <span class="example-fill-remaining-space"></span> -->
  
      </mat-toolbar>
<mat-sidenav-container>
  
    	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
			<mat-nav-list class="dashboard">
        <a mat-list-item (click)="goToDashboard()">
            <mat-icon mat-list-icon > show_chart</mat-icon>
            <p matLine *ngIf="isExpanded">Dashboard</p>
        </a>

        <a mat-list-item >
                <mat-icon mat-list-icon>person</mat-icon>
                <p matLine *ngIf="isExpanded">Account</p>
        </a>

        <a mat-list-item >
                <mat-icon mat-list-icon>notifications</mat-icon>
                <p matLine *ngIf="isExpanded">Notifications</p>
        </a>
        <a mat-list-item  (click)="logout()">
                <mat-icon mat-list-icon>power_settings_new</mat-icon>
                <p matLine *ngIf="isExpanded">Logout</p>
        </a>
<!-- 
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>inbox</mat-icon>
						<p matLine *ngIf="isExpanded">Inbox</p>
				</a>
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>star</mat-icon>
						<p matLine *ngIf="isExpanded">Starred</p>
				</a>
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>drafts</mat-icon>
						<p matLine *ngIf="isExpanded">Drafts</p>
				</a>



        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>mail</mat-icon>
						<p matLine *ngIf="isExpanded">All Mail</p>
				</a>
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>delete</mat-icon>
						<p matLine *ngIf="isExpanded">Trash</p>
				</a>
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>warning</mat-icon>
						<p matLine *ngIf="isExpanded">Spam</p>
				</a> -->
			</mat-nav-list>
		</mat-sidenav>

    

    <mat-sidenav-content
    style="padding-left: 5%;
    padding-right: 5%;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>