<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Yearly ML vs Buy & Hold
      </h1>
      <h2 class="subtitle">
        Apple
      </h2>
    </div>
  </div>
</section>

  <section class="hero  is-info is-bold">
      <div class="hero-body">
        <div class="container">
    
          <h1 class="title is-1">
            2016
          </h1>
          <h2 class="subtitle is-2">
            Starting Captial: $1000
          </h2>
          <h2 class="subtitle is-3">
            Results
          </h2>
          <h3 class="subtitle">
              buyHold: $1096,
              ML: $1040
          </h3>
          <h2 class="subtitle is-3">
              Net Profit:
            </h2>
            <h3 class="subtitle">
                buyHold: $96,
                ML: $40
            </h3>
        </div>
      </div>
  </section>
    
    <app-chart [chartData]="data" [chartType]="'Historical'"></app-chart>
    
    <hr>

<section class="hero  is-danger is-bold">
    <div class="hero-body">
      <div class="container">
  
        <h1 class="title is-1">
          2017
        </h1>
        <h2 class="subtitle is-2">
          Starting Captial: $1000
        </h2>
        <h2 class="subtitle is-3">
          Results
        </h2>
        <h3 class="subtitle">
            buyHold: $1096,
            ML: $1040
        </h3>
        <h2 class="subtitle is-3">
            Net Profit:
          </h2>
          <h3 class="subtitle">
              buyHold: $96,
              ML: $40
          </h3>
      </div>
    </div>
  </section>
    
    <app-chart [chartData]="data" [chartType]="'Historical'"></app-chart>
    
    <hr>
  <section class="hero  is-success is-bold">
      <div class="hero-body">
        <div class="container">
    
          <h1 class="title is-1">
            2018
          </h1>
          <h2 class="subtitle is-2">
            Starting Captial: $1000
          </h2>
          <h2 class="subtitle is-3">
            Results
          </h2>
          <h3 class="subtitle">
              buyHold: $1096,
              ML: $1040
          </h3>
          <h2 class="subtitle is-3">
              Net Profit:
            </h2>
            <h3 class="subtitle">
                buyHold: $96,
                ML: $40
            </h3>
        </div>
      </div>
    </section>
    
    <app-chart [chartData]="data" [chartType]="'Historical'"></app-chart>
    
    <hr>






  
  